@model ProductCatalogManagementMicroservice.Models.User

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <h1 class="mb-4">Delete User</h1>

    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Confirm Deletion</h4>
        </div>
        <div class="card-body">
            <p class="text-warning"><strong>Warning:</strong> This action cannot be undone.</p>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Password)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Username)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <form asp-action="Delete">
                <input type="hidden" asp-for="UserId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
